<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lista de Alunos</title>
  </head>
  <body>
    <h1>Alunos</h1>
    <a th:href="@{/alunos/new}">Novo Aluno</a>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Idade</th>
          <th>Email</th>
          <th>Curso</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="aluno : ${alunos}">
          <td th:text="${aluno.nome}"></td>
          <td th:text="${aluno.idade}"></td>
          <td th:text="${aluno.email}"></td>
          <td th:text="${aluno.curso}"></td>
          <td>
            <a th:href="@{/alunos/edit/} + ${aluno.id}">Editar</a>
            <a th:href="@{/alunos/delete/} + ${aluno.id}">Excluir</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
